// @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

.dialog_sendButton {

  #draggable-dialog-title {
    background-color: rgba(254, 251, 251, 0.733) !important;

    .MuiTypography-root {
      font-family: Cambria !important;
    }
  }
  .MuiDialogContent-root {
    background-color: rgb(232, 244, 248) !important;
    padding-bottom: 25px !important;
    
  }

  .card_1 {
    background-color: rgb(254, 251, 251) !important;
  }
  .typography{
    font-family: Cambria !important;
  }
  .MuiTimeline-root{
    background-color: rgb(232, 244, 248) !important;
 }
  }

