.topbarSelect>div:hover::before {
    border: none !important;
}

.topbarSelect>div::before {
    border: none !important;
}

.welcome-text {
    color: #dfdffa !important;
    margin: 0px;
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translate(-100%, 0px);
    font-weight: bold;
}


.top-bar-icon-wrapper button {
    padding: 10px;
}

.top-bar-icon-wrapper button:nth-child(3) {
    padding: 0;
}