.MuiDataGrid-root {
  border-radius: 0 0 15px 15px !important;
  border: none !important;
}

.loading-shading-mui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.3);
}

.loading-icon-mui {
  position: absolute;
  font-size: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.react-tabs__tab {
  background-color: gray !important;
  color: whitesmoke;
}

.react-tabs__tab--selected {
  background-color: whitesmoke !important;
  color: black;
}

.outbox-table {
  width: 100%;
  position: relative;
}

.outbox-table .MuiTable-root .MuiTableBody-root {
  transition: all 0.3s ease;
}

.outbox-table .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child {
  transition: all 0.3s ease-in-out;
}

/* .outbox-table .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    visibility: collapse;
    transform: translate(0px, -100%);
    z-index: 0;
} */

.outbox-table .MuiTable-root .MuiTableHead-root:hover .MuiTableRow-head {
  visibility: visible;
  transform: translate(0px, 0px);
  z-index: 1;
}

.outbox-table .MuiTable-root .MuiTableRow-root:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table-action-btn {
  position: absolute;
  right: 10px;
  background-color: #fff;
  padding: 0px 0px;
  border: none;
}

.table-action-btn > button {
  display: none;
}

.outbox-table
  .MuiTable-root
  .MuiTableRow-root:hover
  .table-action-btn
  > button {
  display: inline-flex;
  padding: 0;
  padding-top: 3px;
}

.table-action-btn .MuiIcon-root {
  display: flex;
}

::-webkit-scrollbar {
  height: 5px;
}

/* / Track / */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* / Handle / */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

/* / Handle on hover / */
::-webkit-scrollbar-thumb:hover {
  background: #787474;
}

/* For History dialog */
.outbox-history .MuiDialogContent-dividers {
  padding: 16px 0px !important;
}

.outbox-history .MuiTimeline-root {
  padding: 6px 0 !important;
}

@media (max-width: 768px) {
  #webviewer-1 {
    height: inherit !important;
  }

  .outbox-table .header-input .MuiFormControl-root {
    margin: 10px 0px;
  }

  .outbox-table .header-input {
    padding-top: 10px;
  }
}

#alert-dialog-slide-title h2 {
  display: flex;
  justify-content: space-between;
}

.outbox-table .MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  display: flex;
  justify-content: space-between;
}

.outbox-table .header-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.outbox-table .header-input .MuiFormControl-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

/* .outbox-header-content{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .outbox-table .MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters{
    height: 0px;
    min-height: 0;
    border-bottom: none;
  }
  .outbox-table .MuiToolbar-root.MuiToolbar-regular > .MuiButtonBase-root{
    margin-top: -70px;
  }

  @media (min-width: 600px){
    .outbox-header-content {
        padding-left: 24px;
        padding-right: 24px;
    }
  } */

.myComtomClass .rdrDefinedRangesWrapper {
  background-color: #424242;
}

.myComtomClass .rdrStaticRangeLabel {
  background-color: #424242;
  color: #fff;
}

.myComtomClass .rdrDateDisplayWrapper {
  background-color: #424242;
}

.myComtomClass .rdrMonthAndYearWrapper {
  background-color: #424242;
}

.myComtomClass .rdrMonthAndYearPickers select {
  color: #fff;
}

.myComtomClass .rdrMonth {
  background-color: #424242;
}

.myComtomClass .rdrDayNumber span {
  color: #ddd;
}

.myComtomClass .rdrStaticRangeLabel:hover {
  color: #424242;
}

.myComtomClass .rdrMonthAndYearPickers select {
  background-color: #424242;
}
